@page
@model EndscreenTheNightWatchModel
@{
    ViewData["Title"] = "Endscreen - The Night Watch";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>

<div class="TekstblokNaam">
    Rembrandt<br>The Night Watch
</div>
<br>

<img src="~/Images/Schilderijen/The-Night-Watch.jpg" class="Schilderij" alt="The Night Watch" />
<br><br>

<div class="TekstblokUitleg">
    Een groepsportret van een stadsmilitie, beroemd om het gebruik van licht en schaduw.
    Dit monumentale werk van Rembrandt toont kapitein Frans Banninck Cocq en zijn manschappen in beweging, wat zeer ongebruikelijk was voor groepsportretten uit die tijd.
</div><br><br>

<div class="TekstblokExtraInfo">
    Locatie: Rijksmuseum<br>
    Datum: 1642<br>
    Stroming: Baroque
</div><br><br><br><br><br>

<a asp-page="/Index" class="BackButton">
    <img src="~/Images/Schilderijen/HomeknopWit.jpg" class="Homeknop2" alt="Home" />
</a>
<br />

</body>
