@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>

<div class="TitelEnLogo">
    <img src="~/Images/Schilderijen/LogoTB.jpg" class="Logo" alt="Logo" />
</div>
<br />
<br>

<div class="TekstblokInstr">
    1. Bekijk het kunstwerk dat wordt getoond <br/> <br />
    2. Raad de naam van de kunstenaar of de titel van het werk <br /> <br />
    3. Je hebt 3 pogingen - na elke foute poging krijg je een hint <br /> <br />
</div>
<br><br><br><br><br>

<a asp-page="/Schilderijen" id="ButtonPlay">P L A Y</a>

<br><br><br><br>

<div style="text-align:center;">
    <a asp-page="/Login" id="ButtonLoginRegister">LOG IN / REGISTREER</a>
</div>

<br><br><br><br>

</body>
